.Header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: var(--app-color);
  width: 100%;

  .left-header {
    padding-left: 20px;
    display: flex;
    align-items: center;

    .logo {
      margin-right: 30px;
      font-weight: 700;
      font-size: 2rem;
      line-height: 50px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      span {
        font-size: 2rem;
        color: white;
      }
    }

    input {
      margin: 10px;
      padding: 0 12px;
      height: 33px;
      line-height: 33px;
      width: 300px;
      outline: none;
      border: none;
      border-radius: 16.5px;
    }
  }

  .right-header {
    display: flex;
    align-items: center;
    padding-right: 20px;
    .profile {

    }
  }
}
