.Me {
  scroll-behavior: auto;
  .Intro {
    display: flex;
    margin-bottom: 4px;
    .left {
      position: sticky;
      flex: 3;
      display: flex;
      align-self: center;
    }
    .right {
      flex: 8;
      display: flex;
      align-self: center;
    }
  }
  .main {
    display: flex;
    .left {
      position: sticky;
      flex: 3;
    }
    .right {
      flex: 8;
    }
  }
}