@import url(./bootstrap-4.0.0-dist/css/bootstrap.min.css);

:root {
  --app-color: #9ead5f;
  --button-color: #ffa825;
  --button-color-selected: #D2891C;
  --border-color: #444444;
}

* {
  font-size: 14px;
}

html,
body,
#root,
.App {
  height: 100%;
}

.logo-light {
  color: var(--app-color);
}

.button {
  padding: 0px 20px;
  color: white;
  background-color: var(--button-color);
  border: 0px;
  text-align: center;
  border-radius: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
    background-color: var(--button-color-selected);
    cursor: pointer;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}